<p>London Decompression is created entirely by volunteers – people just like YOU!</p>

<p>To get the most out of Decom, you need to get involved. From helping with welfare to making décor to cleaning up afterwards to working on the door, we have something you can do!</p>

<p>Shifts are usually a few hours and you’ll have plenty of time to party – and working at Decom is really, really fun!</p>

<p>Sign up today, and the relevant leads will be in contact soon!</p>

<%= form_for @volunteer do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.collection_check_boxes(:team_ids, Team.order(:name).all, :id, :name, label: 'What area are you interested in volunteering for?') do |b| %>
      <div class="form-check">
        <%= b.check_box class: 'form-check-input' %>
        <%= b.label(class:"form-check-label") { b.text } %>
        <small class="form-text text-muted"><%= b.object.description %></small>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :other_offers %>
    <%= form.text_area :other_offers, class: 'form-control' %>
  </div>

  <%= form.submit 'Volunteer!' %><br>
<% end %>
