<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link<%= ' active' if params[:team_id].blank? %>" href="/admin/volunteers">All</a>
  </li>
  <% Team.all.each do |team| %>
    <li class="nav-item">
      <a class="nav-link<%= ' active' if params[:team_id] == team.id.to_s %>" href="?team_id=<%= team.id %>"><%= team.name %></a>
    </li>
  <% end %>
  <li class="nav-item">
    <a class="nav-link<%= ' active' if params[:team_id] == 'none' %>" href="/admin/volunteers?team_id=none">None</a>
  </li>
</ul>

<p><br /><%= link_to "Download as CSV", {format: 'csv', team_id: params[:team_id]} %></p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Teams</th>
    <th>Other offers</th>
    <th>Created at</th>
  </tr>
  <% @volunteers.each do |volunteer| %>
    <tr>
      <td><%= volunteer.name %></td>
      <td><%= volunteer.email %></td>
      <td><%= volunteer.phone %></td>
      <td><%= volunteer.teams.collect(&:name).to_sentence %></td>
      <td><%= volunteer.other_offers %></td>
      <td><%= volunteer.created_at.to_s(:short) %></td>
    </tr>
  <% end %>
</table>
