<!DOCTYPE html>
<html>
  <head>
    <title>LondonDecomVolunteer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="page-header" id="banner">
        <h1>
          <a href="https://londondecom.org/">
            <img src="https://londondecom.org/wp-content/uploads/2018/09/London-Decom-Banner_3.png" />
          </a>
          Volunteering
        </h1>
      </div>

      <hr />

      <%= yield %>
    </div>
  </body>
</html>
